body {
    background-color: #e8dddd;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 1rem;
    padding: 0;
}

input,
button,
select {
    border: 1px solid #000000;
    border-radius: 0.25rem;
    padding: 6px;
    border-radius: 10px;
    outline: none;
    background-color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

h2 {
    font-size: 1rem;
}

span {
    color: rgb(93, 58, 58);
}

td {
    min-width: 120px;
}
